* {
  margin: 0%;
  padding: 0%;
}
.mainbody {
  background-color: #000;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.block1 {
  background-color: #000;
  height: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #000;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.navigation1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 182.857% */
  letter-spacing: -0.64px;
  padding-left: 20px;
  justify-content: start;
  align-items: center;
  width: 20%;
  height: 100%;
  /* background-color: blueviolet; */
  /* align-content: end; */
  display: flex;
}

.navigation2 {
  width: 30%;
  height: 100%;
  /* background-color: aqua; */
  color: #fff;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* align-content: center; */
  /* justify-content: center; */
  /* align-self: center; */
  display: flex;
  display: inline-flex;
  padding: 0px 23px;
  align-items: center;
  gap: 32px;
}
.button1 {
  display: flex;
  padding: 18px 22.11px 18px 22px;
  align-items: flex-start;
  border-radius: 9999px;
  border: 2px solid #06cd98;
  color: #06cd98;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 105.263% */
  background-color: #000;
}
.middleblock1 {
  width: 100%;
  height: 55%;
  background-color: #000;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  color: #fff;
  /* justify-content: center; */
  align-items: center;
  color: #06cd98;
  text-align: center;
  font-family: Montserrat;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 128px; /* 106.667% */
  letter-spacing: -0.16px;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-top: 60px;
}
.span1 {
  color: white;
}
.button2 {
  display: flex;
  padding: 17px 65px;
  align-items: flex-start;
  border-radius: 9999px;
  border: 2px solid #06cd98;
  background: #06cd98;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 105.263% */
  width: 200px;
}
.endblock1 {
  /* width: 100vw; */
  height: 30%;
  background: #06cd98;
  display: flex;
  /* padding: 96px 110.5px; */
  /* flex-direction: column; */
  align-items: flex-start;
  gap: 166px;
  /* justify-content: space-between; */
  padding: 46px 40px;
}
.div1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px; /* 110.345% */
  letter-spacing: -0.64px;
  height: 100%;
  width: 30%;
}
.div2 {
  width: 50%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 147.368% */
  /* justify-content: space-between; */
  gap: 100px;
  /* padding-right: 80px; */
  padding-bottom: 120px;
}
.button6 {
  display: flex;
  padding: 18px 65px;
  align-items: flex-start;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 105.882% */
  border-radius: 99px;
  border: 2px solid #fff;
  width: 200px;
  background-color: #06cd98;
}
.block2 {
  background-color: #000;
  height: 800px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  justify-content: space-between;
}
.headblock2 {
  display: flex;
  height: 25%;
  width: 100%;
  /* background-color: yellow; */
  color: #fff;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 96px */
  justify-content: space-between;
}
.headblock21 {
  color: #fff;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 96px */
  display: flex;
}
.points {
  color: #06cd98;
}
.headblock22 {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.button3 {
  border-radius: 9999px;
  border: 2px solid #06cd98;
  background: #06cd98;
  display: flex;
  padding: 18px 43px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
  display: flex;
  width: 90.87px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 105.882% */
  width: 150px;
}
.bodyblock2 {
  height: 70%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
}
.startblock2 {
  width: 33.3%;
  height: 100%;
  color: #fff;
  font-family: Inter;
  font-size: 307px;
  font-style: normal;
  font-weight: 900;
  line-height: 128px; /* 41.694% */
  letter-spacing: -0.16px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.middleblock2 {
  width: 30.4%;
  height: 100%;
  background-color: #06cd98;
  background-image:url(./public/388c5435bff1a4a2b962be0509d776eb.gif);
  background-repeat: no-repeat;
  background-size: auto;
}
.image {
  height: auto;

}
.endblock2 {
  width: 33.3%;
  height: 100%;
  color: #fff;
  font-family: Montserrat;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 128px; /* 128% */
  letter-spacing: -0.16px;
  padding: 0px 5px;
}
.helo {
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 149.333% */
}
.block3 {
  width: 100%;
  height: 1000px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 200px; */
}
.startblock3 {
  color: #fff;
  font-family: Montserrat;
  font-size: 88px;
  font-style: normal;
  font-weight: 1200;
  line-height: 128px; /* 145.455% */
  letter-spacing: -0.16px;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* align-self:center; */
  display: flex;
}
.bodyblock3 {
  height: 70%;
  width: 100%;
  background-color: #000 zure;
  color: #fff;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px; /* 142.857% */
  letter-spacing: -0.16px;
  display: flex;
  /* padding-left: 100px; */
  gap: 100px;
  justify-content: center;
}
.hey {
  border-radius: 24px;
}
.bodyblock32 {
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}
.watch {
  color: #06cd98;
}
.button4 {
  display: inline-flex;
  padding: 18px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  padding: 18px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9999px;
  background-color: #06cd98;
  color: #fff;
}
.block4 {
  /* width: 100vw; */
  height: 500px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 30px; */
  padding: 20px;
}
.startblock4 {
  width: 90%;
  height: 15%;
  color: #000;
  font-family: Montserrat;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 61.6px; /* 93.333% */
  letter-spacing: -0.56px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.bodyblock4 {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.bodyblock41,
.bodyblock42,
.bodyblock43 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Montserrat;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 108.475% */
  letter-spacing: -0.64px;
  border-bottom: 2px #d81c1c;
  align-items: center;
}
.bodybody411,
.bodybody421,
.bodybody431 {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodybody412,
.bodybody422,
.bodybody432 {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.block5 {
  width: 100%;
  height: 1000px;
  /* background-color: aqua; */
  flex-direction: column;
  display: flex;
  /* padding: 20px; */
  padding-top: 30px;
  justify-content: space-between;
}
.startblock5 {
  width: 90%;
  height: 25%;
  /* background-color: yellow; */
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 106.667% */
  letter-spacing: -0.64px;
  display: flex;
  /* justify-content: space-between; */
  gap: 200px;
}
.headstartblock5 {
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 106.667% */
  letter-spacing: -0.64px;
  display: flex;
  justify-content: space-between;
  /* padding-left: 20px; */
}
.headstartblock51 {
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 106.667% */
  letter-spacing: -0.64px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  width: 48%;
  height: auto;
}
.headstartblock52 {
  letter-spacing: -0.64px;
  display: flex;
  padding-left: 20px;
  align-items: start;
  color: #fff;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 147.368% */
  width: 30%;
}
.bodyblock5 {
  width: 100%;
  height: 70%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
.body1 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 0px 20px;
}
.body11,
.body21,
.body31,
.body41 {
  color: green;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.body12 {
  width: auto;
  height: 70%;
  background-image: url(./public/e889b343c4f61043879325478a35903e.gif);
  border-radius: 20px;
}
.body22 {
  width: auto;
  height: 70%;
  background-image: url(./public/dress\ 1.png);
  border-radius: 20px;
}
.body32 {
  width: auto;
  height: 70%;
  background-image: url(./public/b499a437fa666b24d9de7e8bbeceebf9.gif);
  border-radius: 20px;
}
.body42 {
  width: auto;
  height: 70%;
  background-image: url(./public/2daef361f55ef96c2493658818df34bb.gif);
  border-radius: 20px;
}
.body13,
.body23,
.body33,
.body43 {
  font-family: Inter;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  color: #fff;
}
.body14,
.body24,
.body34,
.body44 {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: purple;
}
.body15,
.body25,
.body35,
.body45 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.body2 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  /* background-image: url(./public/dress\ 1.png); */
  gap: 20px;
}
.body3 {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  /* background-image: url(./public/tipdilz7wysq-261i0mmiwgObOm19V1zHak.png.jpg); */
  gap: 20px;
}
.body4 {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  /* background-image: url(./public/keyholder\ 1.png), cover; */
  gap: 20px;
}
.block6 {
  width: 100%;
  height: 800px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.startblock6 {
  width: 90%;
  height: 20%;
  background-color: #000;
  justify-content: end;
  display: flex;
  align-items: center;
  padding-right: 35px;
}
.button5 {
  display: flex;
  padding: 18px 31px 18px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #06cd98;
  background: #06cd98;
}
.bodyblock6 {
  width: 100%;
  height: 60%;
  background-color: violet;
  display: flex;
}

.bodystart {
  display: flex;
  width: 60%;
  height: 87%;
  background-color: #06cd98;
  color: #fff;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 96px */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.eyes {
  color: #000;
}
.button7 {
  border-radius: 9999px;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 147.368% */
  width: 150px;
  height: 60px;
}
.endstart {
  width: 40%;
  height: 100%;
  display: flex;
  background: url(./public/tipdilz7wysq-261i0mmiwgObOm19V1zHak.png.jpg),
    lightgray -135.213px 0px / 144.847% 100% no-repeat;
}
.footer {
  /* width: 100%; */
  height: 20%;
  display: flex;
  color: #fff;
  justify-content: center;
  padding: 0px 20px;
  align-items: center;
}
.footer1 {
  width: 15%;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 160% */
}
.footer2 {
  width: 50%;
  display: flex;
  gap: 20px;
}
.footer3 {
  width: 25%;
  justify-content: space-between;
  display: flex;
}
